.text-section {
    column-gap: 97px;
    margin: 140px 0px;
}

.text-section-text {
    flex: 1;
}

.text-section-text h2 {
    font-size: 50px;
}

.text-section-text p {
    font-size: 19px;
    
}

@media (max-width: 768px) {
    .text-section {
        flex-direction: column;
    }
}
